.card {
    border: none;
    background-color: transparent;
}

.card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 0;
}

.btn-toggle {
    color: #900561;
    display: block;
    margin: 0 auto;
    border:none;
}

.btn-toggle:hover, 
.btn-toggle:active, 
.btn-toggle:focus {
    color: #900561;
    background-color: transparent;
    text-decoration: none;
}

.card-body {
    height: 200px;
    overflow: auto;
}