/***
1) Header Nav
2) Page Framework

Plugins:
1) React-Slick Carousel
***/

/* Header Nav */
.nav-logo {
    width: 10%;
    padding-top: 5px;
}

.icon-wrapper {
    display: inline-block;
}

.nav-icon {
    color: #900561;
    font-size: 25px;
    margin: 10px 5px;
}

@media (max-width: 991px) {
    .nav-logo {
        width: 12%;
    }
    .nav-icon-col {
        text-align: right;
    }

    .nav-icon {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .nav-logo {
        width: 23%;
    }
}

/* Page Framework */
.btn {
    color: #900561;
    border: #900561 solid 1px;
    border-radius: 6px;
    width: 250px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background 1s linear;
    z-index: 100;
}

.btn:hover {
    color: #ffffff;
    background-color: #900561;
    text-decoration: none;
}

/* Page Main Section */
.main-section {
    position: relative;
}

.main-logo {
    width: 250px;
    display: block;
    padding-top: 50px;
    margin: 0 auto;
}

.main-title-bold {
    color: #900561;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 50px 0 20px 0;
}

.main-section-title {
    text-align: center;
    margin-bottom: 0;
}

.main-text {
    text-align: center;
    padding: 20px 50px;
    margin-bottom: 0;
}

.price {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.main-bkgd {
    position: fixed;
    bottom: 0;
    left: 11%;
    width: 30%;
    opacity: .30;
    z-index: -3;
}

/* Home Page Right Section */
.right-section {
    padding: 0;
}

.right-top-img {
    background-image: url(../images/home-right-top-background.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: .30;
    margin-top: -8%;
    width: 100%;
    height: 51vh;
}

.right-top-text {
    text-align: center;
    padding: 0 30px;
}

.right-top-text .main-title-bold {
    display: none;
}

.right-top-text p {
    padding: 20px 0;
    margin-bottom: 0;
}

.right-top-text .price {
    padding: 0;
    margin-bottom: 20px;
}

.right-bottom-row {
    background-image: url(../images/home-right-bottom-background.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 50vh;
}

.right-bottom-section {
    position: absolute;
    right: 0;
    background-color: rgba(255,255,255, .70);
    width: 100%;
    height: 50vh;
    padding: 50px 20px;
}

.right-bottom-section .main-title-bold {
    display: none;
}

.right-bottom-section p {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
}

.right-bottom-section .price {
    padding: 0;
    margin-bottom: 20px;
}

@media (min-width: 1054px) and (max-width: 1184px) {
    .right-top-img{
        margin-top: -9%;
    }
}

@media (min-width: 992px) and (max-width: 1053px) {
    .right-top-img{
        margin-top: -10%;
    }
}

@media (max-width: 991px) {
    .main-section {
        height: 93.5vh;
    }

    .main-text {
        font-size: 25px;
    }

    .main-bkgd {
        left: 12%;
        width: 85%;
    }

    .right-section {
        display: none;
    }
}

@media (max-width: 575px) {
    .main-logo {
        width: 200px;
        padding-top: 20px;
    }

    .main-text {
        font-size: 20px;
        padding: 20px 10px;
    }

    .btn {
        margin-bottom: 10px;
    }
}

@media (max-width:387px) {
    .main-title-bold {
        font-size: 40px;
    }
}


/** PLUGINS **/

/* React-Slick Carousel */
.slick-prev {
    left: -15px !important;
    z-index: 100 !important;
}

.slick-prev:before {
    color: #900561 !important;
    font-size: 25px !important;
}

.slick-next {
    right: -9px !important;
}

.slick-next:before {
    color: #900561 !important;
    font-size: 25px !important;
}

.tasting-slider .slick-prev,
.tasting-slider .slick-next {
    top: 74% !important;
}

.mission-slider .slick-prev,
.mission-slider .slick-next {
    top: 83% !important;
}



.slick-dots li button:before {
    font-size: 10px !important;
}

.slick-dots li.slick-active button:before {
    color: #900561 !important;
}

@media (min-width: 992px) {
    .slick-dots {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .slick-prev, 
    .slick-next {
        display: none !important;
    }

    .slick-list {
        z-index: 20;
        margin-top: 20px !important;
    }

    .slick-dots {
        top: -20px;
        z-index: 10;
        margin-top: -10px !important;
    }

    .index-slider .slick-dots {
        top: auto;
        z-index: auto;
        margin: 0 !important;
    }
}