/***
1) Header Nav
2) Page Framework
3) Portrait Orientation
4) Offline Text

Plugins:
1) React-Slick Carousel
***/

/* Header Nav */
.nav-logo {
    width: 10%;
    padding-top: 5px;
}

.icon-wrapper {
    display: inline-block;
}

.nav-icon {
    color: #900561;
    font-size: 25px;
    margin: 10px 5px;
}

@media (max-width: 991px) {
    .nav-logo {
        width: 12%;
    }
    .nav-icon-col {
        text-align: right;
    }

    .nav-icon {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .nav-logo {
        width: 23%;
    }
}

/* Page Framework */
.btn {
    color: #900561;
    border: #900561 solid 1px;
    border-radius: 6px;
    width: 250px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background 1s linear;
    z-index: 100;
}

.btn:hover {
    color: #ffffff;
    background-color: #900561;
    text-decoration: none;
}

/* Page Main Section */
.main-section {
    position: relative;
}

.main-logo {
    width: 250px;
    display: block;
    padding-top: 50px;
    margin: 0 auto;
}

.main-title-bold {
    color: #900561;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 50px 0 20px 0;
}

.main-section-title {
    text-align: center;
    margin-bottom: 0;
}

.main-text {
    text-align: center;
    padding: 10px 50px;
    margin-bottom: 0;
}

.price {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.price-qualifier {
    text-align: center;
    padding-top: 0 !important;
    font-size: 12px;
    font-style: italic;

}

.main-bkgd {
    position: fixed;
    bottom: 0;
    left: 11%;
    width: 30%;
    opacity: .30;
    z-index: -3;
}

/* Home Page Right Section */
.right-section {
    padding: 0;
}

.right-top-img {
    background-image: url(../images/home-right-top-background.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: .30;
    margin-top: -8%;
    width: 100%;
    height: 51vh;
}

.right-top-text {
    text-align: center;
    padding: 0 30px;
}

.right-top-text .main-title-bold {
    display: none;
}

.right-top-text .main-text {
    padding: 10px 0;
    margin-bottom: 0;
}

.right-top-text .price {
    padding: 0;
}

.right-bottom-row {
    background-image: url(../images/home-right-bottom-background.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 50vh;
}

.right-bottom-section {
    position: absolute;
    right: 0;
    background-color: rgba(255,255,255, .70);
    width: 100%;
    height: 50vh;
    padding: 50px 20px;
}

.right-bottom-section .main-title-bold {
    display: none;
}

.right-bottom-section .main-text {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 0;
}

.right-bottom-section .price {
    padding: 0;
}

@media (min-width: 1054px) and (max-width: 1184px) {
    .right-top-img{
        margin-top: -9%;
    }
}

@media (min-width: 992px) and (max-width: 1053px) {
    .right-top-img{
        margin-top: -10%;
    }
}

@media (max-width: 991px) {
    .main-section {
        height: 93.5vh;
    }

    .main-text {
        font-size: 25px;
    }

    .main-bkgd {
        left: 18%;
        width: 70%;

    }

    .right-section {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mission-page .main-bkgd {
        position: absolute;
        bottom: -13%;
    }
}

@media (max-width: 575px) {
    .main-logo {
        width: 200px;
        padding-top: 20px;
    }

    .main-text {
        font-size: 20px;
        padding: 20px 10px;
    }

    .main-bkgd {
        position: sticky;
        left: 12%;
        bottom: 0;
        width: 85%;
        opacity: 0.2;
    }

    .btn {
        margin-bottom: 10px;
    }
}

@media (max-width:387px) {
    .main-title-bold {
        font-size: 40px;
    }
}

/** Portrait Orientation **/
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    body {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 178vh !important;
      overflow-x: hidden !important;
      position: absolute;
      top: 100%;
      left: 0;
    }

    .nav-logo-col {
        flex: 0 0 70%;
        max-width: 70%;
    }

    .nav-icon-col {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .nav-logo {
        width: 23%;
    }

    .main-section {
        height: 165vh;
    }

    .main-logo {
        width: 200px;
        padding-top: 20px;
    }

    .main-text {
        font-size: 20px;
        padding: 20px 10px;
    }

    .main-bkgd {
        opacity: 0.2;
    }
    
  }

/* Portrait Orientation for iPhoneX */
@media screen and (min-width: 800px) and (max-width: 850px) and (orientation: landscape) {
    body {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 216vh !important;
        overflow-x: hidden !important;
        position: absolute;
        top: 100%;
        left: 0;
      }
  
      .nav-logo-col {
          flex: 0 0 70%;
          max-width: 70%;
      }
  
      .nav-icon-col {
          flex: 0 0 30%;
          max-width: 30%;
      }
  
      .nav-logo {
          width: 23%;
      }
  
      .main-section {
          height: 202vh;
      }
  
      .main-logo {
          width: 200px;
          padding-top: 20px;
      }
  
      .main-text {
          font-size: 20px;
          padding: 20px 10px;
      }
  
      .main-bkgd {
          opacity: 0.2;
      }
  }

/* Offline Text for Tastings Page */
.offline-text-tasting {
    color: #900561;
    text-align: center;
    font-weight: bold;
}

.offline-text-vlog {
    color: #900561;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}


/** PLUGINS **/

/* React-Slick Carousel */
.slick-prev {
    left: -15px !important;
    z-index: 100 !important;
}

.slick-prev:before {
    color: #900561 !important;
    font-size: 25px !important;
}

.slick-next {
    right: -9px !important;
}

.slick-next:before {
    color: #900561 !important;
    font-size: 25px !important;
}

.mission-slider .slick-prev,
.mission-slider .slick-next {
    top: 48% !important;
}



.slick-dots li button:before {
    font-size: 10px !important;
}

.slick-dots li.slick-active button:before {
    color: #900561 !important;
}

@media (min-width: 992px) {
    .slick-dots {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .slick-prev, 
    .slick-next {
        display: none !important;
    }
}