// Page Main Section
.main-logo {
    width: 250px;
    display: block;
    padding-top: 50px;
    margin: 0 auto;
}

.main-text {
    text-align: center;
    padding: 20px 10px;
}

@media (max-width: 991px) {
    .main-text {
        font-size: 25px;
        padding: 20px 50px;
    }
}

@media (max-width: 575px) {
    .main-logo {
        width: 200px;
        padding-top: 20px;
    }

    .main-text {
        font-size: 20px;
        padding: 20px 10px;
    }
}