.accordion-section {
    padding: 20px 50px;
}

.card {
    border: none;
    background-color: transparent;
}

.card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 0;
}

.btn-toggle {
    color: #900561;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    border:none;
}

.btn-toggle:hover, 
.btn-toggle:active, 
.btn-toggle:focus {
    color: #900561;
    background-color: transparent;
    text-decoration: none;
}

.card-body {
    text-align: justify;
    height: 200px;
    overflow: auto;
}

@media (min-width: 992px) {
    .slider-mobile {
        display: none;
    }
}

@media (max-width: 991px) {
    .slider-desktop {
        display: none;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .slider-mobile {
        margin-bottom: 80px;
    }
}

@media (max-width: 575px) {
    .accordion-section {
        padding: 20px 0;
    }
}