.carousel-img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.slick-dots li.slick-active button:before {
    color: #900561 !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-img {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .carousel-img {
        width: 80%;
    }
}